[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2-binary = "*"
passlib = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
marshmallow = "*"
itsdangerous = "~=1.1"
flask-mail = "*"
pillow = "*"
webargs = "~=5.4"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
